* {
    padding: 0;
    margin: 0;

}

.header-text{
    font-size: 50px;
}

.description{
    margin: 15px 0;
}

.btn {
    background: #E55473;
    border: none;
    color: white;
    padding: 15px 35px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;

}

.btn:hover {
    background-color: #fd79a8ed;
}
.header-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
    background: rgba(229, 84, 115, 0.18);
    margin-top: 10px 10px 35px;
   
   
}

.header-img{
    width: 650px;
}
.feature-part {
    text-align: center;
    margin: 100px 0;
}

.image-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.image {
    padding: 50px 50px 0 0;
    border-radius: 170px 170px 0 0;
    background: rgb(229 84 115 / 19%);
    height: 500px;
}

.image1 {
    padding: 50px 50px 0 0;
    border-radius: 170px 170px 0 0;
    background: rgba(5, 151, 160, 0.15);
    height: 500px;
}

.image2 {
    padding: 50px 50px 0 0;
    border-radius: 170px 170px 0 0;
    background: rgba(71, 125, 17, 0.15);
    height: 500px;
}




