* {
    padding: 0;
    margin: 0;

}

.header-text{
    font-size: 50px;
}

.description{
    margin: 15px 0;
}

.btn {
    background: #E55473;
    border: none;
    color: white;
    padding: 15px 35px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;

}

.btn:hover {
    background-color: #fd79a8ed;
}
.header-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
    background: rgba(229, 84, 115, 0.18);
    margin-top: 10px 10px 35px;
   
   
}

.header-img{
    width: 650px;
}
.feature-part {
    text-align: center;
    margin: 100px 0;
}

.image-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.image {
    padding: 50px 50px 0 0;
    border-radius: 170px 170px 0 0;
    background: rgb(229 84 115 / 19%);
    height: 500px;
}

.image1 {
    padding: 50px 50px 0 0;
    border-radius: 170px 170px 0 0;
    background: rgba(5, 151, 160, 0.15);
    height: 500px;
}

.image2 {
    padding: 50px 50px 0 0;
    border-radius: 170px 170px 0 0;
    background: rgba(71, 125, 17, 0.15);
    height: 500px;
}
.pre-description{
    text-decoration: underline;
}

.hot-deals-container {
    background: rgb(229 84 115 / 19%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
    padding: 50px 0;
}

.hot-content {
    text-align: center;
}

.instagram-part {
    text-align: center;
    margin: 100px 0;
}

.image-store {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.image-store-item img {
    width: 250px;
}
.subscribe-part{
    background-image: url(images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    border-radius: 8px;
    width: 1400px;
    height: 449px;
    margin: 60px;
    padding: 60px;
}
   
.subscribe-field {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-field input {
    width: 50%;
    background: rgb(39 39 39 / 16%);
    padding: 18px 20px;
    border-radius: 8px;
}






